<div class="container">
    <footer class="page-footer mdb-color text-center text-md-left pt-4 mt-4">
  
    <!--Call to action-->
  
    <div class="footer-copyright text-center py-3"  class="footeralign4">
  
        <ul class="list-unstyled list-inline">
  
            <li class="list-inline-item">
  
              
  
            </li>
  
            <li class="list-inline-item">
  
              
  
            </li>
  
            <li>
  
                <a href="#!">SETTINGS</a>
  
            </li>
  
            <li>
  
                <a href="#!">ABOUTS</a>
  
            </li>
  
            <li>
  
                <a href="#!">TERMS </a>
  
  
  
            </li>
  
            <li>
  
                <a href="#!"> PRIVACY</a>
  
  
  
            </li>
  
          
  
           
  
        </ul>
  
   
  
    
  
        <div class="container-fluid">
  
            © 2019 Copyright:
  
            <a href="HelpingHands.com"> HelpingHands </a>
  
  
  
        </div>
  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  
  
  <!-- Add font awesome icons -->
  
  <a href="#" class="fa fa-facebook"></a>
  
  <a href="#" class="fa fa-twitter"></a>
  
  <a href="#" class="fa fa-google"></a>
  
  <a href="#" class="fa fa-linkedin"></a>
  
  
  
    </div>
  
    <!--/.Copyright-->
  
  
  
  </footer>
  
  <!--/.Footer-->
  
  </div>
  
  
  