<app-homeheader></app-homeheader>
    <div class="midComPad">
  <br><br><br><h1 align="center">Our Major Causes</h1><br><br>
  
    <div class="container">
        <div class="items">
        <a href="#" >
            <img src="./assets/donation.JPG" alt="" class="thumbnail">
        <div class="caption">
        
        <p>You would feel Great !! </p>
        </div>
        </a>
        </div>
        
         
        <div class="items">
        <a href="#" >
            <img src="./assets/inspiration.JPG" alt="" class="thumbnail">
        <div class="caption">
        <p>It is the best thing to gift.</p>
        </div>
        </a>
        </div>
        
        <div class="items">
        <a href="#" >
            <img src="./assets/volunteer.JPG"  alt="" class="thumbnail">
        <div class="caption">
        <p>Be part of a beautiful journey.</p>
        </div>
        </a>
        </div>
        </div>
</div>

<app-footer></app-footer>


