<app-homeheader></app-homeheader>   
<div class="aboutComPad">             <!--midComPad is defined in styles.css -->
  <div class="single_about row">
    <div class="col-lg-6 col-md-12 text-center about_left">
        <div class="about_thumb" class="midComPad">
            <img src="./assets/aboutus.jpg"  height=440 alt="">
        </div>
    </div>
    <div class="col-lg-6 col-md-12 ">
        <div class="about_content">
            <h1>
              <br>
                We are Non-Profit organisation serving for the People and through the People <br>
                    
            </h1>
            <p style="font-size:25px">
              
                    This is mainly a platform to connect the people and NGOs together to serve the people
                    collectively and whole heartedly.
            </p>      
            <p style="font-size:25px">
                    Connecting the NGO and the People is in the sense that People can be assured that their donations
                    would be reaching the right people via right hands (NGO) and NGOs can be able to cnnect more people
                    for fulfilling their wonderful initiaitve. 
            </p>
            
        </div>
    </div>
</div>  
</div>
<app-footer></app-footer>

