<div class="pos">
  <div class="navbar navbar-inverse">     <!-- main navbar -->
  <div class="container">               <!-- it will used to align the things in center -->
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#mymenu" data-toggle="collapse">      <!--navbartoggle : the button will not be shown by this -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        
    </div>
    <div class="collapse navbar-collapse" id="mymenu">              <!-- it will collapse the navbar and show each element properly without touching the boundary when we make the screen size less -->
      <ul class="nav navbar-nav">                       <!-- all elements arranged in horizontal form -->
        <li routerLinkActive="active" routerLinkActiveOptions="{exact.true}"><a class="navbar-brand">HelpingHands</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ><span class="glyphicon glyphicon-user"></span> {{ ' '+ donatorName }}</a></li>
          <li routerLinkActive="active" routerLinkActiveOptions="{exact.true}"><a routerLink='/logingen'><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>     <!-- this particular element will be shown as highlighted -->
          
      </ul>
      
    </div>
  </div>  
</div>
</div>
